In [3]:
import re
import json
def extract_tool_invocations( llm_output):
        # Find all <tool>...</tool> blocks (regardless of format inside)
        tool_blocks = re.findall(r"<tool>(.*?)</tool>", llm_output, re.DOTALL)
        print(tool_blocks)
        result = []

        for i, block in enumerate(tool_blocks):
            block = block.strip()

            # Remove backticks and markdown code fencing if present
            if block.startswith("```json"):
                block = re.sub(r"^```json\s*|\s*```$", "", block, flags=re.DOTALL).strip()
            elif block.startswith("```"):
                block = re.sub(r"^```|\s*```$", "", block, flags=re.DOTALL).strip()
            print(block)
            try:
                data = json.loads(block)

                # Normalize: if it's a single function call, wrap it into function_calls
                if "function_calls" in data:
                    result.extend(data["function_calls"])
                elif "name" in data and "parameters" in data:
                    result.append(data)
                else:
                    print(f"Warning: Unexpected JSON structure in block {i+1}")
            except json.JSONDecodeError as e:
                print(f"Error decoding JSON block {i+1}: {e}")

        if result:
            print(result)
            return { "function_calls": result }
        else:
            print("No valid tool blocks found.")
            return ""

In [4]:
json1 = """Let's think this through... 

<internal>
### ReAct Trace:
Thought: The user wants to find all departments in their database.
Action:
<tool>
{
  "name": "sql_query",
  "parameters": {
    "text": "Find all departments in the database"
  }
}
</tool>"""

In [5]:
extract_tool_invocations(json1)

['\n{\n  "name": "sql_query",\n  "parameters": {\n    "text": "Find all departments in the database"\n  }\n}\n']
{
  "name": "sql_query",
  "parameters": {
    "text": "Find all departments in the database"
  }
}
[{'name': 'sql_query', 'parameters': {'text': 'Find all departments in the database'}}]

{'function_calls': [{'name': 'sql_query',
   'parameters': {'text': 'Find all departments in the database'}}]}

In [1]:
url = "postgresql://admin:admin123@localhost:5432/college"
from xenq_server.components.query.query_manager import QueryManager
sql = QueryManager(url)

In [2]:
print(sql.schema)

### departments (9 rows)
- dept_no: text (Primary Key), required
- dept_name: text, required
Sample rows:
  - d001, Marketing
  - d002, Finance

### dept_emp (331041 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- from_date: date, required
- to_date: date, required
- dept_no: text (Primary Key) (Foreign Key to departments.dept_no), required
Sample rows:
  - 10001, d005, 1986-06-26, 9999-01-01
  - 10002, d007, 1996-08-03, 9999-01-01

### employees (299509 rows)
- emp_no: number (Primary Key), required
- birth_date: date, required
- gender: custom type
- hire_date: date, required
- first_name: text, required
- last_name: text, required
Sample rows:
  - 10001, 1953-09-02, Georgi, Facello, M, 1986-06-26
  - 10002, 1964-06-02, Bezalel, Simmel, F, 1985-11-21

### dept_manager (24 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- from_date: date, required
- to_date: date, required
- dept_no: text (Primary Key) (Foreign Key to departments.dept_no), required
Sample rows:
  - d001, 110022, 1985-01-01, 1991-10-01
  - d001, 110039, 1991-10-01, 9999-01-01

### salaries (2839079 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- salary: number, required
- from_date: date (Primary Key), required
- to_date: date, required
Sample rows:
  - 10001, 60117, 1986-06-26, 1987-06-26
  - 10001, 62102, 1987-06-26, 1988-06-25

### titles (442547 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- from_date: date (Primary Key), required
- to_date: date
- title: text (Primary Key), required
Sample rows:
  - 10001, Senior Engineer, 1986-06-26, 9999-01-01
  - 10002, Staff, 1996-08-03, 9999-01-01

In [3]:
sql.build_prompt("Find the department that has the most managers based on the dept_manager table.")

<|begin_of_text|><|start_header_id|>system<|end_header_id|>
You are a professional PostgreSQL expert who generates optimized, correct SQL queries from natural language questions based on the schema provided.

Schema Format:
- TableName (Row count)
  - column_name: data_type, (Primary Key) (Foreign Key to [referenced_table.column]), [required]

### Schema
### departments (9 rows)
- dept_no: text (Primary Key), required
- dept_name: text, required
Sample rows:
  - d001, Marketing
  - d002, Finance

### dept_emp (331041 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- from_date: date, required
- to_date: date, required
- dept_no: text (Primary Key) (Foreign Key to departments.dept_no), required
Sample rows:
  - 10001, d005, 1986-06-26, 9999-01-01
  - 10002, d007, 1996-08-03, 9999-01-01

### employees (299509 rows)
- emp_no: number (Primary Key), required
- birth_date: date, required
- gender: custom type
- hire_date: date, required
- first_name: text, required
- last_name: text, required
Sample rows:
  - 10001, 1953-09-02, Georgi, Facello, M, 1986-06-26
  - 10002, 1964-06-02, Bezalel, Simmel, F, 1985-11-21

### dept_manager (24 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- from_date: date, required
- to_date: date, required
- dept_no: text (Primary Key) (Foreign Key to departments.dept_no), required
Sample rows:
  - d001, 110022, 1985-01-01, 1991-10-01
  - d001, 110039, 1991-10-01, 9999-01-01

### salaries (2839079 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- salary: number, required
- from_date: date (Primary Key), required
- to_date: date, required
Sample rows:
  - 10001, 60117, 1986-06-26, 1987-06-26
  - 10001, 62102, 1987-06-26, 1988-06-25

### titles (442547 rows)
- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required
- from_date: date (Primary Key), required
- to_date: date
- title: text (Primary Key), required
Sample rows:
  - 10001, Senior Engineer, 1986-06-26, 9999-01-01
  - 10002, Staff, 1996-08-03, 9999-01-01


Instructions:
- Analyze the request and schema carefully.
- If any entity or field mentioned in the request is not found in the schema, return a small message to the user about the issue.
- Think step by step only when the query is complex in a human language (e.g., involves joins, aggregation, subqueries, or CTEs). For simple queries, go straight to generating the query efficiently.
- Otherwise, return the final SQL query wrapped in a single SQL code block.
- Use Common Table Expressions (CTEs) when needed for readability and performance. Always use explicit JOINs.
- When generating queries, **include additional relevant columns** in the SELECT clause beyond the ones strictly required for the answer. This helps provide richer context in the output, which may assist with further explanation or analysis later.
- After the code block, return the special token `:::`
<|eot_id|><|start_header_id|>user<|end_header_id|>


### Query Request
Find the department that has the most managers based on the dept_manager table.
<|eot_id|><|start_header_id|>assistant<|end_header_id|>

'\n<|begin_of_text|><|start_header_id|>system<|end_header_id|>\nYou are a professional PostgreSQL expert who generates optimized, correct SQL queries from natural language questions based on the schema provided.\n\nSchema Format:\n- TableName (Row count)\n  - column_name: data_type, (Primary Key) (Foreign Key to [referenced_table.column]), [required]\n\n### Schema\n### departments (9 rows)\n- dept_no: text (Primary Key), required\n- dept_name: text, required\nSample rows:\n  - d001, Marketing\n  - d002, Finance\n\n### dept_emp (331041 rows)\n- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required\n- from_date: date, required\n- to_date: date, required\n- dept_no: text (Primary Key) (Foreign Key to departments.dept_no), required\nSample rows:\n  - 10001, d005, 1986-06-26, 9999-01-01\n  - 10002, d007, 1996-08-03, 9999-01-01\n\n### employees (299509 rows)\n- emp_no: number (Primary Key), required\n- birth_date: date, required\n- gender: custom type\n- hire_date: date, required\n- first_name: text, required\n- last_name: text, required\nSample rows:\n  - 10001, 1953-09-02, Georgi, Facello, M, 1986-06-26\n  - 10002, 1964-06-02, Bezalel, Simmel, F, 1985-11-21\n\n### dept_manager (24 rows)\n- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required\n- from_date: date, required\n- to_date: date, required\n- dept_no: text (Primary Key) (Foreign Key to departments.dept_no), required\nSample rows:\n  - d001, 110022, 1985-01-01, 1991-10-01\n  - d001, 110039, 1991-10-01, 9999-01-01\n\n### salaries (2839079 rows)\n- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required\n- salary: number, required\n- from_date: date (Primary Key), required\n- to_date: date, required\nSample rows:\n  - 10001, 60117, 1986-06-26, 1987-06-26\n  - 10001, 62102, 1987-06-26, 1988-06-25\n\n### titles (442547 rows)\n- emp_no: number (Primary Key) (Foreign Key to employees.emp_no), required\n- from_date: date (Primary Key), required\n- to_date: date\n- title: text (Primary Key), required\nSample rows:\n  - 10001, Senior Engineer, 1986-06-26, 9999-01-01\n  - 10002, Staff, 1996-08-03, 9999-01-01\n\n\nInstructions:\n- Analyze the request and schema carefully.\n- If any entity or field mentioned in the request is not found in the schema, return a small message to the user about the issue.\n- Think step by step only when the query is complex in a human language (e.g., involves joins, aggregation, subqueries, or CTEs). For simple queries, go straight to generating the query efficiently.\n- Otherwise, return the final SQL query wrapped in a single SQL code block.\n- Use Common Table Expressions (CTEs) when needed for readability and performance. Always use explicit JOINs.\n- When generating queries, **include additional relevant columns** in the SELECT clause beyond the ones strictly required for the answer. This helps provide richer context in the output, which may assist with further explanation or analysis later.\n- After the code block, return the special token `:::`\n<|eot_id|><|start_header_id|>user<|end_header_id|>\n\n\n### Query Request\nFind the department that has the most managers based on the dept_manager table.\n<|eot_id|><|start_header_id|>assistant<|end_header_id|>\n'

In [7]:
output = """
```sql
SELECT e.first_name, e.last_name
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
GROUP BY e.emp_no
HAVING COUNT(de.dept_no) > 1;

```
:::
"""
query, status = sql.extract_query(output)
print(query)

SELECT e.first_name, e.last_name
FROM employees e
JOIN dept_emp de ON e.emp_no = de.emp_no
GROUP BY e.emp_no
HAVING COUNT(de.dept_no) > 1;

In [8]:
print(sql.execute_query(query))

| first_name   | last_name   |
|--------------|-------------|
| Duangkaew    | Piveteau    |
| Kazuhide     | Peha        |
| Otmar        | Herbst      |
| Weiyi        | Meriste     |
| Yinghua      | Dredge      |
| Breannda     | Billingsley |
| Reuven       | Garigliano  |
| Premal       | Baek        |
| Jungsoon     | Syrzycki    |
| Sreekrishna  | Servieres   |
| Lunjin       | Giveon      |
| Dayanand     | Czap        |
| Geraldo      | Marwedel    |
| Diederik     | Siprelle    |
| Marla        | Brendel     |

Note: Showing 15 of 31532 rows.
Complete output saved to ./output.txt